<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <h1>Please fill out the form!</h1>
    <div class="container">
      <form method="post">
         {{form.as_p}}
         {% csrf_token %}
         <input class="btn btn-primary" type="submit" value="Submit">

      </form>

    </div>

  </body>
</html>
