<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Hello, this is my own webpage for the Website</h1>
  </div>

    </div>
  </body>
</html>




























































<!-- <!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django level two  </title>
    <link rel="stylesheet" href="{% static "C:\Users\jati sharma\Desktop\Djangohealthcareproject\first_Project\static\css\mystyle.css" %}"/>
  </head>
  <body>
    <h1>Hi welcome to Django Level two</h1>
    <h2>Here are youre Access records:</h2>-

    <div class="djangotwo">
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>

        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>NO ACCESS RECORD FOUND</p>
      {% endif %}
    </div>
  </body>
</html> -->
